body{
    margin: 0;
    padding: 0;
    family-font:Mulish, varta, quicksand;
}
figure{
    margin:0;
    padding:0;
}

.header{
    background-color:black;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
}
.menu{
    height:inherit;
}
.header a{
    color:white;
    height:inherit;
    text-decoration:none;
    display:flex;
    align-items:center;
    padding:0 15px;
}
.header ol,li{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    height:inherit;
}


.container{
    margin:0 auto;
    width:1000px;
    height: inherit;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-wrap: inherit;
}
.about{
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:300px;
}
.luis{
    margin-left: 50%;
    margin-right= 0;
    width: 49%;	
	
}
.me{
    white-space: normal;
    margin-right: 50%;
    margin-left= 0;	
    width: 49%	
	 
}
.curriculum{

}
.contact{
	
}
