body{
    margin: 0;
    padding: 0;
    font-family:Mulish, varta, quicksand;
}
figure{
    margin:0;
    padding:0;
}

.header{
    background-color: #001233;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:80px;
    font-size: 20px
}
.menu{
    height:inherit;
}
.header a {
    color:white;
    height:inherit;
    text-decoration:none;
    display:flex;
    align-items:center;
    padding:0 15px;
}
.header ol,li{
    list-style:none;
    padding:0;
    margin:0;
    display:flex;
    height:inherit;
}


.container{
    margin:0 auto;
    width:1000px;
    height: inherit;
	display: inherit;
	justify-content: inherit;
	align-items: inherit;
	flex-wrap: inherit;
}

.about{
     height:300px;
     margin: 5%;
     display:flex;
     background-color: #0353A4;
     border-top: 0;
}
.luis{
     display:flex;
     width: 30%;
     justify-content: center;
	overflow: hidden;
}
.me {
     white-space: normal;
     width: 60%;
     text-align: justify;
     font-size: 34px;
     align-items:center;
     color: white;
}
.curriculum{
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     background-color: #E0E0E0;
     border-top:0;
}
h2 {
     font-size: 30px;
     margin: 4%;;
}
.certificates-box{
	border: 1px solid #ccc;
	margin: 10px;
	width: 450px;
	overflow: hidden;
	border-radius: 5px;
	
}
.certificate-img{
        object-fit:cover;
	width: 500px;
	height: 200px;
}
.certificate-description{
	text-align: center;
	background-color: white;
	padding: 10px;
	margin: 20px;
	position: relative;
	border-radius: 5px;
	margin-top:-50px;
}

.certificate-url{
	display: flex;
	align-items: center;
	justify-content: center;
	color: #0353A4;
	border: 1px solid;
}
.contact{
    margin:0 auto;
    width:1000px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    height:90px;
    font-size: 18px;
    background-color: #0353A4;
    height: inherit;
}
.thanks{
    display:flex;
    color: white;
    margin-left: 5px;
}
.ig{
    display:flex;
    margin:0;
    padding:0;
}
.githubLinkedin{
    display:flex;
    margin:0;
    padding:0;	

}
